@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Tilt+Neon&display=swap');

/*

font-family: 'Quicksand', sans-serif;
font-family: 'Tilt Neon', cursive;
*/


*{
    margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important; /*Smooth scrolling*/
    animation: transitionIn .5s;
    height: 100%;

}

body {
    min-height: 100%;   
}

header{
    overflow: hidden !important; /* The whole purpose of this is to remove horizontal scrolling on smaller viewports*/
}

main{
    padding: 5em;
}

h1, h2{
    margin: 1em;
}
p{
    font-size: 1.5rem;
}
section{
    margin: 5em;
}

/** LINKS STYLING **/
/* Link styles */

a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3rem;
}

a:link{
    color: rgb(28, 121, 209);
}

/* it refers to links that are not yet visited */

a:visited{
    color: rgb(255, 185, 54);
}

/* Changes the color of the link when the link has been visited */

a:hover{
    color: red;
    cursor: pointer;
}

/* Changes the color of the link and changes your cursor to a pointer when hovering on a link*/


a:active{
    color: rgb(17, 255, 17);
}



/** NAVIGATION BAR STYLES **/

/* The actual navbar where the links are*/
#main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    padding: 1rem;
}

/* This just creates the circle for the "MonMon" */
.nav-logo{
    border: 2px solid red;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    margin: 0 2rem;
}

.nav-logo p{
    font-size: 1.5rem;
}

/*Logo link is both the text and the circle*/
/* The logo is also a way to get back to the homepage of the site by clicking on it so that's why it is also a link*/
.logo-link{
    /* font-style: italic; */
    font-family: 'Tilt Neon', cursive;
    text-decoration: none;
}

/* So that everything has the same style for :focus for links*/
.logo-link:focus{
    border-bottom: 2px solid red;   
}

/* Styles for the navigation links "Home Menu Contact"*/
#main-nav ul{
    display: flex;
}

/* Margin of left and right of 2rem so that they are spaced*/
#main-nav ul li a{
    color: white;
    font-size: 1rem;
    margin: 0 2rem;
    text-decoration: none;
    transition: all .3s linear; 
}

/* So that it wont change the color of the link as this is a special type of link and not something that is clickable in the content area*/
#main-nav ul li a:link{
    color: white;
}

#main-nav ul li a:visited{
    color: white;
}

/* Just puts a border-bottom when navigating the navbar using tab key*/
#main-nav ul li a:focus{
    border-bottom: 2px solid red;
}

#main-nav ul li a:hover{
    color: red;
}

/* if you click and hold the navigation link it will produce the color that is in this CSS style*/
#main-nav ul li a:active{
    color: rgb(177, 0, 0);
}

/** HAMBURGER BUTTON FOR COLLAPSIBLE NAVBAR **/
label{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    cursor: pointer;

}

/* STYLING THE LINES */
label span{
    background: white;
    border-radius: 10px;
    height: 8px;
    margin: 5px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    width: 80%;
}

input[type="checkbox"]{
    display: none;
}

/*Turns the hamburger into an x when pressed*/
/*FIRST LINE OF THE BURGER BUTTON */
input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin: bottom;
    transform: rotatez(45deg) translateX(5px)translateY(5px);
}

/*SECOND LINE OF THE BURGER BUTTON */
input[type="checkbox"]:checked ~ span:nth-of-type(2){
    opacity: 0;
}

/*THIRD LINE OF THE BURGER BUTTON */
input[type="checkbox"]:checked ~ span:nth-of-type(3){
    transform-origin: bottom;
    transform: rotatez(-45deg) translateX(15px)translateY(-12px);
}

/* Contains the actual hamburger button*/
.hamburger-btn{
    visibility: hidden;     /*So that it doesn't show on larger viewports*/
    position: absolute;
    right: 2rem;
}

/** END OF NAVIGATION STYLE**/

/** Color Palette Section Styling **/


.color-palette{
    display: flex;
}

.color-palette div{
    width: 100px;
    height: 100px;
}


/* Color Palettes */
.color-1{
    background-color: #242424;
}
.color-2{
    background-color: #444444;
}
.color-3{
    background-color: #ff144f;
}
.color-4{
    background-color: rgb(248, 212, 9);
}
.color-5{
    border: 1px solid black;
    background-color: #fbfbfb;
}



/** End of Color Palette Styling **/


/** Start of font-choice styling **/
.tilt-neon-demo{
    font-family: 'Tilt Neon', cursive;
}
.quicksand-demo{
    font-family: "Quicksand", cursive;
}

.quicksand-demo, .tilt-neon-demo{
    color: red;
}
/** End of font-choice styling **/

/** START OF SITE OUTLINE STYLING **/
.site-outline-section ul li{
    margin-left: 1em;
}

/** END OF SITE OUTLINE STYLING **/



/** Attribution and Footer styling **/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    text-align: center;
    background-color: black;    
    width: 100%;
    height: 100px;
    color: rgb(197, 196, 196);
    position: relative;
    bottom: 0;

}

footer a{
    color: rgb(197, 196, 196);
}

footer a:link{
    color: rgb(197, 196, 196);
}

footer a:visited{
    color: rgb(197, 196, 196);
}

footer a:hover{
    color: rgb(118, 118, 118);
}

footer a:active{
    color: rgb(118, 118, 118);
}

/** END OF Attribution and Footer styling **/



/** ANIMATION FOR TRANSITIONING IN ALL CONTENT **/
/*
    To create a smooth transition for the user to see when first loading up in the page.
*/

@keyframes transitionIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}

/** Start of responsive styling**/

/* Ipads and Tablets styling */
/*collapsible navbar*/
@media only screen and (min-width: 320px) and (max-width: 861px){
    #main-nav ul{
       visibility: hidden;
    }

    .hamburger-btn{
        visibility: visible; /* Makes the hamburger button appear and disappear beyond 861px*/
    }

}

@media only screen and (min-width: 320px) and (max-width:861px){
    .project-section{
        display: flex;
        flex-direction: column;
    }

}

/** END of responsive styling**/
